body{
    margin:0;
    font-family:Arial,sans-serif;

    background:linear-gradient(
        135deg,
        #4facfe,
        #00f2fe
    );

    min-height:100vh;
}

.container{
    max-width:900px;
    margin:auto;
    padding:30px;
}

h1{
    text-align:center;
    color:white;
}

button{
    width:100%;

    padding:15px;

    border:none;

    border-radius:12px;

    font-size:18px;

    cursor:pointer;

    background:white;

    font-weight:bold;
}

button:hover{
    transform:scale(1.02);
}

#weatherCard{

    margin-top:20px;

    background:rgba(255,255,255,.9);

    padding:25px;

    border-radius:20px;

    box-shadow:0 10px 25px rgba(0,0,0,.15);

    font-size:18px;
}

#map{

    margin-top:20px;

    height:450px;

    border-radius:20px;

    overflow:hidden;

    box-shadow:0 10px 25px rgba(0,0,0,.15);
}
